<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />

    <link rel="stylesheet" href="../../index.css" />

    <title>Image</title>
  </head>
  <body>
    <div id="kash-container" class="kash-container-root">
      <script src="../../scripts/nav.js"></script>
      <main>
        <div class="kash-main-container kash-content-right">
          <h1 class="kash-h2 kash-text-left">Image</h1>
          <div class="kash-p">
            <h3 class="kash-h5">Fluid Image</h3>
            <p class="kash-subtitle">Fluid Image with 100% width</p>
          </div>
          <div
            class="kash-container kash-bg-light-gray kash-flex kash-justify-center kash-align-center kash-border-sm kash-p kash-gap"
          >
            <img
              class="kash-img-fluid"
              src="../../Resources/Images/car_640.jpg"
            />
          </div>
          <div class="kash-code-container">
            <iframe
              src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=seti&wt=none&l=htmlmixed&width=779&ds=true&dsyoff=4px&dsblur=12px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=12px&lh=158%25&si=false&es=2x&wm=false&code=%253Cimg%2520class%253D%2522kash-img-fluid%2522%2520src%253D%2522..%252FResources%252FImages%252Fcar_640.jpg%2522%2520%252F%253E%250A"
              style="
                width: 100%;
                height: 32vh;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
          <div class="kash-p">
            <h3 class="kash-h5">Thumbnail Image</h3>
            <p class="kash-subtitle">200px thubnail images</p>
          </div>
          <div
            class="kash-container kash-bg-light-gray kash-flex kash-justify-center kash-align-center kash-border-sm kash-p kash-gap"
          >
            <img
              class="kash-img-200 kash-rounded"
              src="https://cdn.pixabay.com/photo/2021/09/13/08/18/blue-flower-6620619_960_720.jpg"
            />
          </div>
          <div class="kash-code-container">
            <iframe
              src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=seti&wt=none&l=htmlmixed&width=779&ds=true&dsyoff=4px&dsblur=12px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=12px&lh=158%25&si=false&es=2x&wm=false&code=%253Cimg%2520class%253D%2522kash-img-fluid%2522%2520src%253D%2522..%252FResources%252FImages%252Fcar_640.jpg%2522%2520%252F%253E%250A"
              style="
                width: 100%;
                height: 30vh;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
          <div class="kash-p">
            <h3 class="kash-h5">Rounded Image</h3>
            <p class="kash-subtitle">200px thubnail images</p>
          </div>
          <div
            class="kash-container kash-bg-light-gray kash-flex kash-justify-center kash-align-center kash-border-sm kash-p kash-gap"
          >
            <img
              class="kash-img-200 kash-rounded-xl"
              src="https://upload.wikimedia.org/wikipedia/commons/6/6e/A._P._J._Abdul_Kalam.jpg"
            />
          </div>
          <div class="kash-code-container">
            <iframe
              src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=seti&wt=none&l=htmlmixed&width=779&ds=true&dsyoff=4px&dsblur=12px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=12px&lh=158%25&si=false&es=2x&wm=false&code=%253Cimg%250A%2520%2520class%253D%2522kash-img-200%2520kash-rounded-xl%2522%250A%2520%2520src%253D%2522https%253A%252F%252Fupload.wikimedia.org%252Fwikipedia%252Fcommons%252F6%252F6e%252FA._P._J._Abdul_Kalam.jpg%2522%250A%252F%253E%250A"
              style="
                width: 100%;
                height: 38vh;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
          <div class="kash-p">
            <h3 class="kash-h5">Different Images</h3>
            <p class="kash-subtitle">Different size Responsive Images</p>
          </div>
          <div
            class="kash-container kash-bg-light-gray kash-flex kash-evenly kash-align-center kash-border-sm kash-p kash-gap kash-flex-wrap"
          >
            <img
              class="kash-img-sm kash-rounded"
              src="../../Resources/Images/Atif_Aslam.jpg"
            />
            <img
              class="kash-img-md kash-rounded"
              src="../../Resources/Images/Arijit_Singh.webp"
            />
            <img
              class="kash-img-xl kash-rounded"
              src="../../Resources/Images/Lata-Mangeshkar.jpg"
            />
          </div>
          <div class="kash-code-container">
            <iframe
              src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=seti&wt=none&l=htmlmixed&width=779&ds=true&dsyoff=4px&dsblur=12px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=12px&lh=158%25&si=false&es=2x&wm=false&code=%253Cimg%250A%2520%2520class%253D%2522kash-img-200%2520kash-rounded-xl%2522%250A%2520%2520src%253D%2522https%253A%252F%252Fupload.wikimedia.org%252Fwikipedia%252Fcommons%252F6%252F6e%252FA._P._J._Abdul_Kalam.jpg%2522%250A%252F%253E%250A"
              style="
                width: 100%;
                height: 38vh;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
