<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />

    <link rel="stylesheet" href="../../index.css" />

    <title>Grid</title>
  </head>
  <body>
    <div id="kash-container" class="kash-container-root">
      <script src="../../scripts/nav.js"></script>
      <main>
        <div class="kash-main-container kash-content-right">
          <h1 class="kash-h2 kash-text-left">Grid</h1>
          <div class="kash-p">
            <h3 class="kash-h5">Simplified Grid</h3>
            <p class="kash-subtitle">Simplified Component with 2 items</p>
          </div>
          <div
            class="kash-container kash-bg-light-gray kash-flex kash-flex-col kash-justify-center kash-align-center kash-border-sm kash-m kash-p kash-gap"
          >
            <div class="kash-grid grid-items-2">
              <div class="kash-grid-item-1"></div>
              <div class="kash-grid-item-2"></div>
            </div>
          </div>
          <div class="kash-code-container">
            <iframe
              src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=seti&wt=none&l=htmlmixed&width=779&ds=true&dsyoff=4px&dsblur=12px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=12px&lh=158%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522kash-grid%2520grid-items-2%2522%253E%250A%2520%2520%253Cdiv%2520class%253D%2522kash-grid-item-1%2522%253E%253C%252Fdiv%253E%250A%2520%2520%253Cdiv%2520class%253D%2522kash-grid-item-2%2522%253E%253C%252Fdiv%253E%250A%253C%252Fdiv%253E%250A"
              style="
                width: 100%;
                height: 38vh;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
          <div class="kash-p">
            <h3 class="kash-h5">Simplified Grid</h3>
            <p class="kash-subtitle">Grid With 3 Items Component</p>
          </div>
          <div
            class="kash-container kash-bg-light-gray kash-flex kash-flex-col kash-justify-center kash-align-center kash-border-sm kash-m kash-p kash-gap"
          >
            <div class="kash-grid grid-items-3">
              <div class="kash-grid-item-1"></div>
              <div class="kash-grid-item-2"></div>
              <div class="kash-grid-item-3"></div>
            </div>
          </div>

          <div class="kash-code-container">
            <iframe
              src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=seti&wt=none&l=htmlmixed&width=779&ds=true&dsyoff=4px&dsblur=12px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=12px&lh=158%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522kash-grid%2520grid-items-3%2522%253E%250A%2520%2520%253Cdiv%2520class%253D%2522kash-grid-item-1%2522%253E%253C%252Fdiv%253E%250A%2520%2520%253Cdiv%2520class%253D%2522kash-grid-item-2%2522%253E%253C%252Fdiv%253E%250A%2520%2520%253Cdiv%2520class%253D%2522kash-grid-item-3%2522%253E%253C%252Fdiv%253E%250A%253C%252Fdiv%253E%250A"
              style="
                width: 100%;
                height: 40vh;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
