.kash-input {
  outline: none;
  padding: 0.5rem;
  border: none;
  background-color: transparent;
  font-size: 16px;
}

.kash-fieldset-focus {
  background-color: var(--white);
  width: 70%;
  border-radius: 0.25rem;
  transition: border-color 2s;
  display: flex;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px;
  }
}

.kash-fieldset-focus > :nth-child(1) {
  display: block;
  margin-left: 10px;
}

.kash-fieldset-blur {
  background-color: var(--white);
  border-style: solid;
  border-color: none;
  border-radius: 0.25rem;
  width: 70%;
  display: flex;
}
.kash-fieldset-blur > legend {
  display: none;
}

input {
  border: 1px solid;
}

.kash-input-select {
  height: 10rem;
  position: absolute;
  width: 100%;
  top: 3.5rem;
  overflow-y: auto;
  left: 0;
  background-color: var(--white);
  /* padding: 0.5rem; */
  border: 2px solid var(--light-gray);
  z-index: 100;
  box-shadow: rgb(0 0 0 / 20%) 0px 5px 5px -3px,
    rgb(0 0 0 / 14%) 0px 8px 10px 1px, rgb(0 0 0 / 12%) 0px 3px 14px 2px;
  border-radius: 0.2rem;
  display: none;
}
.kash-input-select::-webkit-scrollbar {
  display: none;
}

.kash-input-select > li {
  list-style: none;
  cursor: pointer;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.kash-input-select > li:hover {
  background-color: var(--light-gray);
}

.kash-input-select > li > img {
  border: 2px solid var(--light-gray);
}
.kash-w-full {
  width: 100%;
}

@media only screen and (max-width: 500px) {
}
