.kash-color-red {
  color: var(--light-red);
}
.kash-light {
  color: var(--light-gray);
}

.kash-bg-red {
  background-color: var(--light-red);
  color: var(--white);
}
.kash-bg-dark-red {
  background-color: var(--dark-red);
  color: var(--white);
}

.kash-bg-light-gray {
  background-color: var(--light-gray);
}

.kash-bg-gray {
  background-color: var(--gray);
}

.kash-border-red {
  border-color: var(--light-red);
}

.kash-border-yellow {
  border-color: var(--light-yellow);
}
