<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />

    <link rel="stylesheet" href="../../index.css" />

    <title>Lists</title>
  </head>
  <body>
    <div id="kash-container" class="kash-container-root">
      <script src="../../scripts/nav.js"></script>
      <main>
        <div class="kash-main-container kash-content-right">
          <h1 class="kash-h2 kash-text-left">Lists</h1>
          <div class="kash-p">
            <h3 class="kash-h5">Basic Spaced List</h3>
            <p class="kash-subtitle">Basic List Component</p>
          </div>
          <div
            class="kash-container kash-bg-light-gray kash-flex kash-flex-col kash-justify-center kash-align-center kash-border-sm kash-m kash-p kash-gap"
          >
            <ul class="kash-flex kash-gap kash-justify-between kash-basic-ol">
              <li>Item 1</li>
              <li>Item 2</li>
              <li>Item 3</li>
              <li>Item 4</li>
            </ul>
          </div>
          <div class="kash-code-container">
            <iframe
              src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=seti&wt=none&l=htmlmixed&width=779&ds=true&dsyoff=4px&dsblur=12px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=12px&lh=158%25&si=false&es=2x&wm=false&code=%253Cul%2520class%253D%2522kash-flex%2520kash-gap%2520kash-justify-between%2520kash-basic-ol%2522%253E%250A%2520%2520%253Cli%253EItem%25201%253C%252Fli%253E%250A%2520%2520%253Cli%253EItem%25202%253C%252Fli%253E%250A%2520%2520%253Cli%253EItem%25203%253C%252Fli%253E%250A%2520%2520%253Cli%253EItem%25204%253C%252Fli%253E%250A%253C%252Ful%253E%250A"
              style="
                width: 610px;
                height: 45vh;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
          <div class="kash-p">
            <h3 class="kash-h5">Basic List Ordered</h3>
            <p class="kash-subtitle">Basic List Component</p>
          </div>
          <div
            class="kash-container kash-bg-light-gray kash-flex kash-flex-col kash-justify-center kash-align-center kash-border-sm kash-m kash-p kash-gap"
          >
            <ol class="kash-flex-col kash-gap kash-justify-between">
              <li>Item 1</li>
              <li>Item 2</li>
              <li>Item 3</li>
              <li>Item 4</li>
            </ol>
          </div>
          <div class="kash-code-container">
            <iframe
              src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=seti&wt=none&l=htmlmixed&width=779&ds=true&dsyoff=4px&dsblur=12px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=12px&lh=158%25&si=false&es=2x&wm=false&code=%253Col%2520class%253D%2522kash-flex-col%2520kash-gap%2520kash-justify-between%2522%253E%250A%2520%2520%253Cli%253EItem%25201%253C%252Fli%253E%250A%2520%2520%253Cli%253EItem%25202%253C%252Fli%253E%250A%2520%2520%253Cli%253EItem%25203%253C%252Fli%253E%250A%2520%2520%253Cli%253EItem%25204%253C%252Fli%253E%250A%253C%252Fol%253E%250A"
              style="
                width: 610px;
                height: 45vh;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
          <div class="kash-p">
            <h3 class="kash-h5">Basic List Unordered</h3>
            <p class="kash-subtitle">Basic List Component</p>
          </div>
          <div
            class="kash-container kash-bg-light-gray kash-flex kash-flex-col kash-justify-center kash-align-center kash-border-sm kash-m kash-p kash-gap"
          >
            <ul class="kash-flex-col kash-gap kash-justify-between">
              <li>Item 1</li>
              <li>Item 2</li>
              <li>Item 3</li>
              <li>Item 4</li>
            </ul>
          </div>
          <div class="kash-code-container">
            <iframe
              src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=seti&wt=none&l=htmlmixed&width=779&ds=true&dsyoff=4px&dsblur=12px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=12px&lh=158%25&si=false&es=2x&wm=false&code=%253Cul%2520class%253D%2522kash-flex-col%2520kash-gap%2520kash-justify-between%2522%253E%250A%2520%2520%253Cli%253EItem%25201%253C%252Fli%253E%250A%2520%2520%253Cli%253EItem%25202%253C%252Fli%253E%250A%2520%2520%253Cli%253EItem%25203%253C%252Fli%253E%250A%2520%2520%253Cli%253EItem%25204%253C%252Fli%253E%250A%253C%252Ful%253E%250A"
              style="
                width: 610px;
                height: 45vh;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
          <div class="kash-p">
            <h3 class="kash-h5">Basic Stacked List</h3>
            <p class="kash-subtitle">Basic List Component With Vertical</p>
          </div>
          <div
            class="kash-container kash-bg-light-gray kash-flex kash-flex-col kash-justify-center kash-align-center kash-border-sm kash-m kash-p kash-gap"
          >
            <ul
              class="kash-flex kash-flex-col kash-gap kash-justify-between kash-basic"
            >
              <li>Item 1</li>
              <li>Item 2</li>
              <li>Item 3</li>
              <li>Item 4</li>
            </ul>
          </div>
          <div class="kash-code-container">
            <iframe
              src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=seti&wt=none&l=htmlmixed&width=779&ds=true&dsyoff=4px&dsblur=12px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=12px&lh=158%25&si=false&es=2x&wm=false&code=%253Cul%2520class%253D%2522kash-flex%2520kash-flex-col%2520kash-gap%2520kash-justify-between%2520kash-basic%2522%253E%250A%2520%2520%253Cli%253EItem%25201%253C%252Fli%253E%250A%2520%2520%253Cli%253EItem%25202%253C%252Fli%253E%250A%2520%2520%253Cli%253EItem%25203%253C%252Fli%253E%250A%2520%2520%253Cli%253EItem%25204%253C%252Fli%253E%250A%253C%252Ful%253E%250A"
              style="
                width: 610px;
                height: 45vh;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
