.kash-snackbar {
  padding: calc(0.6 * var(--padding));
  color: var(--white);
  gap: 1.5rem;
  border-radius: 0.3rem;
  position: fixed;
  right: 1rem;
  top: 5rem;
  display: none;
}

.kash-snackbar-btn {
  margin: 0;
}

.kash-snackbar-green {
  background-color: var(--green);
}
.snackbar-code-snippet {
  width: 100%;
  border: 0;
  transform: scale(1);
  overflow: hidden;
}
.snackbar-code-snippet-width-1 {
  height: 75vh;
}

.snackbar-code-snippet-width-2 {
  height: 78vh;
}
